/* ***** Main Stylesheet ***** */

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Karla", sans-serif;
  color: #707070; }

h1,
h2,
h3,
h4,
h6 {
  font-family: "Karla", sans-serif;
  color: black;
  line-height: 1.3;
  font-weight: 700; }

h5 {
  font-family: "Karla", sans-serif;
  color: black;
  }


p {
  font-family: "Karla", sans-serif;
  color: #707070;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400; }

a,
a:focus,
a:hover {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: black;
  font-weight: 500;
  font-size: 14px;
  font-family: "Karla", sans-serif; }

ul {
  margin: 0; }
  ul li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #0f1112 !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f2f4f5; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.bg-fixed {
  background-attachment: fixed !important; }

input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent; }

.jarallax {
  position: relative;
  z-index: 0; }

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-80 {
  margin-bottom: 20px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

.p-15 {
  padding: 15px !important; }

.p-30 {
  padding: 30px !important; }

.p-50 {
  padding: 50px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.pt-30 {
  padding-top: 30px; }

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 0;
  padding-bottom: 0; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-50 {
  padding-top: 100px;
  padding-bottom: 50px; }

.section-padding-80-0 {
  padding-top: 20px;
  padding-bottom: 0; }

.preloader {
  background-color: #77b122;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999; }

.spinner {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .section-heading p {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .section-heading h2 {
    margin-bottom: 10px;
    font-size: 36px;
    margin-left: -3px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 30px; } }
    .section-heading h2 span {
      color: #77b122; }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px; } }
  .section-heading.white h2,
  .section-heading.white p {
    color: #ffffff; }
    .section-heading.white h2 span,
    .section-heading.white p span {
      color: #ffffff; }

#scrollUp {
  background-color: #77b122;
  border-radius: 0;
  bottom: 50px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  line-height: 42px;
  right: 50px;
  text-align: center;
  width: 40px;
  border-radius: 0%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); }
  #scrollUp:hover, #scrollUp:focus {
    background-color: #0f1112;
    color: #ffffff; }
  @media only screen and (max-width: 767px) {
    #scrollUp {
      bottom: 30px;
      right: 30px;
      line-height: 32px;
      width: 30px;
      height: 30px; } }

.famie-btn {
  background-color: #77b122;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  height: 50px;
  color: #ffffff;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase; }
  .famie-btn:hover, .famie-btn:focus {
    font-size: 16px;
    font-weight: 700;
    background-color: #0f1112;
    color: #ffffff;
    box-shadow: none; }

.checkout-btn {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-radius: 3px; }
  .checkout-btn:hover, .checkout-btn:focus {
    font-size: 14px;
    font-weight: 700; }

.top-header-area {
  position: relative;
  z-index: 1;
  width: 100%;
  /*height: 100%;*/
  background: linear-gradient(-50deg,
    rgba(119, 177, 34, 0.28), 
    rgba(119, 177, 34, 0.28), 
    rgba(119, 177, 34, 0.28), 
    rgba(119, 177, 34, 0.55));
  background-size: auto;
  background-size: 300% 100%;
  animation: gradient 15s cubic-bezier(.55,.06,.68,.19) infinite;
}

@keyframes gradient{
0%{
    background-position:0% 50%;
}

50%{
    background-position:100% 50%;
}

100%{
    background-position:0% 50%;
}
}
}

.top-header-content {
  position: relative;
  z-index: 1;
  width: 100%;
 
  background-color: #f2f4f5; }
  @media only screen and (max-width: 767px) {
    .top-header-content {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-header-content {
      height: auto;
      padding: 15px 0; } }
  @media only screen and (max-width: 767px) {
    .top-header-content {
      height: auto;
      padding: 10px 0; } }
  .top-header-content .top-header-meta {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
   }
    .top-header-content .top-header-meta p {
      margin-bottom: 0;
      font-size: 30px; }
      .top-header-content .top-header-meta p span {
        color: #77b122; }
      @media only screen and (max-width: 767px) {
        .top-header-content .top-header-meta p {
          font-size: 11px; } }
    .top-header-content .top-header-meta a {
     font-size: 14px;
     color: #578e06;
     font-weight: 1000; }
    
      .top-header-content .top-header-meta a:first-child {
        margin-right: 10px;}
          .top-header-content .top-header-meta a:last-child {
        margin-right: 10px;}
      .top-header-content .top-header-meta a:focus, .top-header-content .top-header-meta a:hover {
        color: #77b122; }

#droit{
  right: 0;
  position:fixed;
  padding-top: 18px;
  margin-top: 4px;
  margin-right: 5px;
}
.header-area {
  position: relative;
  z-index: 1000;
  width: 100%; }
  .header-area .famie-main-menu {
    position: relative;
    width: 100%; }
    .header-area .famie-main-menu .classy-nav-container {
      position: relative;
      z-index: 1; }
      .header-area .famie-main-menu .classy-nav-container .container {
        position: relative;
        z-index: 1; }
    .header-area .famie-main-menu .classy-navbar {
      padding: 0;
      height: 80px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .famie-main-menu .classy-navbar {
          height: 70px; } }
      @media only screen and (max-width: 767px) {
        .header-area .famie-main-menu .classy-navbar {
          height: 70px; } }
      .header-area .famie-main-menu .classy-navbar .nav-brand {
        max-width: 150px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .header-area .famie-main-menu .classy-navbar .nav-brand {
            max-width: 120px; } }
        @media only screen and (max-width: 767px) {
          .header-area .famie-main-menu .classy-navbar .nav-brand {
            max-width: 110px; } }
      .header-area .famie-main-menu .classy-navbar .classynav ul li a {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        color: #303030; }
        .header-area .famie-main-menu .classy-navbar .classynav ul li a:focus, .header-area .famie-main-menu .classy-navbar .classynav ul li a:hover {
          color: #77b122; }
      .header-area .famie-main-menu .classy-navbar .classynav ul li ul li a {
        text-transform: capitalize;
        padding: 0 20px;
        font-size: 14px;
        color: #0f1112;
        line-height: 34px;
        height: 35px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .header-area .famie-main-menu .classy-navbar .classynav ul li ul li a {
            color: #707070; } }
        @media only screen and (max-width: 767px) {
          .header-area .famie-main-menu .classy-navbar .classynav ul li ul li a {
            color: #707070; } }
        .header-area .famie-main-menu .classy-navbar .classynav ul li ul li a::after {
          color: #0f1112; }
        .header-area .famie-main-menu .classy-navbar .classynav ul li ul li a:focus, .header-area .famie-main-menu .classy-navbar .classynav ul li ul li a:hover {
          color: #77b122; }
      .header-area .famie-main-menu .classy-navbar .classynav ul li.active a {
        color: #77b122; }
  .header-area .is-sticky .famie-main-menu {
    z-index: 9999;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2); }
  .header-area #searchIcon {
    position: relative;
    z-index: 1;
    color: #303030;
    margin: 0 25px;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    display: inline-block; }
    .header-area #searchIcon:focus, .header-area #searchIcon:hover {
      color: #77b122; }
  .header-area #cartIcon {
    position: relative;
    z-index: 1;
    display: inline-block; }
    .header-area #cartIcon a {
      display: inline-block;
      font-size: 18px; }
      .header-area #cartIcon a span {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 9;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #77b122;
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        line-height: 15px; }

.search-form {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 500px;
  background-color: #ffffff;
  z-index: 1;
  right: 0;
  bottom: -70px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 767px) {
    .search-form {
      width: 280px;
      right: 15px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .search-form {
      width: 320px;
      right: 0; } }
  .search-form input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: none;
    padding: 15px;
    font-size: 12px;
    font-style: italic; }
  .search-form .closeIcon {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 15px;
    font-size: 12px;
    color: #707070;
    width: auto;
    height: 16px;
    line-height: 16px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer; }
    .search-form .closeIcon:hover {
      color: #77b122; }
  .search-form.search-active {
    opacity: 1;
    visibility: visible;
    bottom: -55px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classynav {
    padding-bottom: 70px; } }
@media only screen and (max-width: 767px) {
  .classynav {
    padding-bottom: 70px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classynav > ul {
    padding-bottom: 20px; } }
@media only screen and (max-width: 767px) {
  .classynav > ul {
    padding-bottom: 20px; } }

.hero-area {
  position: relative;
  z-index: 1;
  width: 100%; }

.single-welcome-slides {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slides {
      height: 550px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slides {
      height: 600px; } }
  @media only screen and (max-width: 767px) {
    .single-welcome-slides {
      height: 600px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .single-welcome-slides {
      height: 450px; } }
  .single-welcome-slides .welcome-content {
    position: relative;
    z-index: 1; }
    .single-welcome-slides .welcome-content h2 {
      font-size: 50px;
      text-transform: capitalize;
      color: #ffffff; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-welcome-slides .welcome-content h2 {
          font-size: 42px; } }
      @media only screen and (max-width: 767px) {
        .single-welcome-slides .welcome-content h2 {
          font-size: 30px; } }
    .single-welcome-slides .welcome-content p {
      color: #ffffff; }

.breadcrumb-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .breadcrumb-area {
      height: 240px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumb-area {
      height: 200px; } }
  @media only screen and (max-width: 767px) {
    .breadcrumb-area {
      height: 150px; } }
  .breadcrumb-area .breadcrumb-text {
    position: relative;
    z-index: 1;
    text-align: center; }
    .breadcrumb-area .breadcrumb-text h2 {
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 40px; }
      @media only screen and (max-width: 767px) {
        .breadcrumb-area .breadcrumb-text h2 {
          font-size: 24px; } }

.famie-breadcrumb {
  position: relative;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px; }
  .famie-breadcrumb .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0; }
    .famie-breadcrumb .breadcrumb .breadcrumb-item {
      color: #707070;
      font-size: 16px;
      font-weight: 400; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .famie-breadcrumb .breadcrumb .breadcrumb-item {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .famie-breadcrumb .breadcrumb .breadcrumb-item {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .famie-breadcrumb .breadcrumb .breadcrumb-item {
          font-size: 12px; } }
      .famie-breadcrumb .breadcrumb .breadcrumb-item a {
        color: #303030;
        font-size: 16px;
        font-weight: 400; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .famie-breadcrumb .breadcrumb .breadcrumb-item a {
            font-size: 14px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .famie-breadcrumb .breadcrumb .breadcrumb-item a {
            font-size: 14px; } }
        @media only screen and (max-width: 767px) {
          .famie-breadcrumb .breadcrumb .breadcrumb-item a {
            font-size: 12px; } }
        .famie-breadcrumb .breadcrumb .breadcrumb-item a:hover, .famie-breadcrumb .breadcrumb .breadcrumb-item a:focus {
          font-weight: 400;
          color: #77b122; }
  .famie-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #707070; }

.benefits-thumbnail {
  position: relative;
  z-index: 1; }
  .benefits-thumbnail img {
    border-radius: 3px; }

.single-benefits-area {
  position: relative;
  z-index: 1;
  text-align: center; }
  .single-benefits-area img {
    margin-bottom: 20px; }
  .single-benefits-area h5 {
    margin-bottom: 0; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-benefits-area h5 {
        font-size: 18px; } }

.famie-video-play {
  position: relative;
  z-index: 1;
  border-radius: 50%; }
  .famie-video-play::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    top: 0;
    left: 0; }
  .famie-video-play img {
    border-radius: 50%; }
  .famie-video-play .play-icon {
    position: absolute;
    font-size: 40px;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99; }

.services-area {
  position: relative;
  z-index: 1;
  background-color: #f2f4f5; }
  .services-area .services-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    width: 40%; }
    @media only screen and (max-width: 767px) {
      .services-area .services-thumbnail {
        height: 300px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%; } }
  .services-area .services-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    width: 60%;
    padding-right: 10% !important; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .services-area .services-content {
        padding-right: 48px !important; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .services-area .services-content {
        padding-right: 48px !important; } }
    @media only screen and (max-width: 767px) {
      .services-area .services-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%; } }

.single-service-area {
  position: relative;
  z-index: 1; }
  .single-service-area .service-title img {
    margin-right: 15px; }
  .single-service-area .service-title h5 {
    margin-bottom: 0;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
  .single-service-area:focus .service-title h5, .single-service-area:hover .service-title h5 {
    color: #77b122; }

.newsletter-area form {
  position: relative;
  z-index: 1; }
  .newsletter-area form .form-control {
    background-color: #ffffff; }
  .newsletter-area form button.famie-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 170px;
    height: 48px;
    background-color: #77b122;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .newsletter-area form button.famie-btn {
        width: 130px; } }
    .newsletter-area form button.famie-btn:hover {
      background-color: #0f1112; }

.single-product-area {
  position: relative;
  z-index: 1; }
  .single-product-area .product-thumbnail {
    position: relative;
    z-index: 1; }
    .single-product-area .product-thumbnail img {
      width: 100%; }
    .single-product-area .product-thumbnail .product-tags {
      position: absolute;
      left: 20px;
      top: 20px;
      z-index: 9;
      padding: 0 12px;
      border-radius: 3px;
      background-color: #23c39f;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 20px;
      height: 20px;
      display: inline-block;
      color: #ffffff; }
    .single-product-area .product-thumbnail .product-meta-data {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 30px;
      opacity: 0;
      visibility: hidden; }
      .single-product-area .product-thumbnail .product-meta-data a {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        line-height: 42px;
        margin: 0 5px;
        font-size: 16px; }
        .single-product-area .product-thumbnail .product-meta-data a:focus, .single-product-area .product-thumbnail .product-meta-data a:hover {
          background-color: #77b122;
          color: #ffffff; }
  .single-product-area .product-desc {
    position: relative;
    z-index: 1; }
    .single-product-area .product-desc .product-title {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: 400;
      display: block; }
      .single-product-area .product-desc .product-title:focus, .single-product-area .product-desc .product-title:hover {
        color: #77b122; }
    .single-product-area .product-desc .price {
      margin-bottom: 0;
      font-size: 18px; }
      .single-product-area .product-desc .price span {
        text-decoration: line-through;
        color: #707070;
        font-size: 16px;
        font-weight: 400; }
  .single-product-area:focus .product-meta-data, .single-product-area:hover .product-meta-data {
    opacity: 1;
    visibility: visible; }

.single-farming-practice-area {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-farming-practice-area .farming-practice-thumbnail {
    position: relative;
    z-index: 1; }
  .single-farming-practice-area .farming-practice-content {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    .single-farming-practice-area .farming-practice-content h4 {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single-farming-practice-area .farming-practice-content .farming-icon {
      position: absolute;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      left: 50%;
      margin-left: -40px;
      top: -40px;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 40px;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); }
  .single-farming-practice-area:focus .farming-practice-content h4, .single-farming-practice-area:hover .farming-practice-content h4 {
    color: #77b122; }
  .single-farming-practice-area:focus .farming-practice-content .farming-icon, .single-farming-practice-area:hover .farming-practice-content .farming-icon {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15); }

.testimonial-slides .single-slide {
  position: relative;
  z-index: 1; }
  .testimonial-slides .single-slide .testi-text {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
    .testimonial-slides .single-slide .testi-text .quote-icon {
      margin-top: 10px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      max-width: 70px;
      width: 70px; }
      @media only screen and (max-width: 767px) {
        .testimonial-slides .single-slide .testi-text .quote-icon {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50px;
          flex: 0 0 50px;
          max-width: 50px;
          width: 50px; } }
      .testimonial-slides .single-slide .testi-text .quote-icon img {
        width: auto !important; }
    .testimonial-slides .single-slide .testi-text h5 {
      font-size: 18px;
      color: #ffffff;
      line-height: 1.5;
      font-weight: 400; }
      @media only screen and (max-width: 767px) {
        .testimonial-slides .single-slide .testi-text h5 {
          font-size: 14px; } }
  .testimonial-slides .single-slide .testimonial-thumbnail-name {
    position: relative;
    z-index: 1;
    margin-left: 70px; }
    @media only screen and (max-width: 767px) {
      .testimonial-slides .single-slide .testimonial-thumbnail-name {
        margin-left: 50px; } }
    .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-thumbnail {
      width: 90px;
      border-radius: 50%;
      border: 3px solid #77b122; }
      @media only screen and (max-width: 767px) {
        .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-thumbnail {
          width: 60px; } }
      .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-thumbnail img {
        border-radius: 50%; }
    .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-name {
      margin-left: 30px; }
      @media only screen and (max-width: 767px) {
        .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-name {
          margin-left: 15px; } }
      .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-name h5 {
        color: #ffffff;
        margin-bottom: 5px; }
        @media only screen and (max-width: 767px) {
          .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-name h5 {
            font-size: 16px; } }
      .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-name h6 {
        color: #77b122;
        margin-bottom: 0; }
        @media only screen and (max-width: 767px) {
          .testimonial-slides .single-slide .testimonial-thumbnail-name .testimonial-name h6 {
            font-size: 14px; } }
.testimonial-slides .owl-next,
.testimonial-slides .owl-prev {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-size: 30px;
  color: #ffffff; }
  .testimonial-slides .owl-next:focus, .testimonial-slides .owl-next:hover,
  .testimonial-slides .owl-prev:focus,
  .testimonial-slides .owl-prev:hover {
    color: #77b122; }
.testimonial-slides .owl-prev {
  right: 50px; }

.contact-maps {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 480px; }
  @media only screen and (max-width: 767px) {
    .contact-maps {
      height: 260px; } }
  .contact-maps iframe {
    width: 100%;
    height: 100%;
    border: none !important; }

.about-us-thumbnail img {
  width: 100%; }

.single-team-member {
  position: relative;
  z-index: 1; }
  .single-team-member .team-img {
    position: relative;
    z-index: 1;
     }
    .single-team-member .team-img img {
      width: 100%;
      margin-top: 5px; }
    .single-team-member .team-img::after {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      visibility: hidden; }
    .single-team-member .team-img .team-social-info {
      position: absolute;
      z-index: 99;
      top: 20px;
      left: 20px;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      opacity: 0;
      visibility: hidden; }
      .single-team-member .team-img .team-social-info a {
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #ffffff;
        color: #ffffff;
        text-align: center;
        line-height: 30px;
        margin-bottom: 15px;
        border-radius: 50%; }
        .single-team-member .team-img .team-social-info a:focus, .single-team-member .team-img .team-social-info a:hover {
          background-color: #77b122;
          color: #ffffff;
          border-color: #77b122; }
  .single-team-member .team-member-info {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 30px; }
    .single-team-member .team-member-info h6 {
      font-weight: 400;
      color: #707070;
      margin-bottom: 0; }
  .single-team-member:focus .team-img::after, .single-team-member:hover .team-img::after {
    visibility: visible;
    opacity: 1; }
  .single-team-member:focus .team-img .team-social-info, .single-team-member:hover .team-img .team-social-info {
    visibility: visible;
    opacity: 1; }

/* Accordians */
.single-accordion.panel {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  border-bottom: 1px solid #e1e1e1; }
.single-accordion:last-of-type {
  margin-bottom: 0; }
.single-accordion h6 {
  margin-bottom: 0;
  text-transform: uppercase; }
  .single-accordion h6 a {
    background-color: transparent;
    border-radius: 0;
    color: #77b122;
    display: block;
    margin: 0;
    padding: 20px 20px 20px 40px;
    position: relative;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700; }
    @media only screen and (max-width: 767px) {
      .single-accordion h6 a {
        font-size: 16px; } }
    .single-accordion h6 a span {
      font-size: 24px;
      position: absolute;
      left: 0;
      text-align: center;
      top: 20px; }
      .single-accordion h6 a span.accor-open {
        opacity: 0; }
    .single-accordion h6 a.collapsed {
      color: #303030; }
      .single-accordion h6 a.collapsed span.accor-close {
        opacity: 0; }
      .single-accordion h6 a.collapsed span.accor-open {
        opacity: 1; }
.single-accordion .accordion-content {
  border-top: 0 solid transparent;
  box-shadow: none; }
  .single-accordion .accordion-content p {
    padding-bottom: 20px;
    margin-bottom: 0; }

.single-recent-blog {
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  .single-recent-blog:last-child {
    margin-bottom: 0; }
  .single-recent-blog .post-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px;
    margin-right: 30px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-recent-blog .post-thumbnail {
        margin-right: 10px; } }
  .single-recent-blog .post-content {
    position: relative;
    z-index: 1; }
    .single-recent-blog .post-content .post-title {
      color: #b7b7b7;
      display: block;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px; }
      .single-recent-blog .post-content .post-title:hover {
        color: #ffffff; }
    .single-recent-blog .post-content .post-date {
      color: #ffffff;
      font-size: 12px;
      margin-bottom: 0; }
  .single-recent-blog.style-2 .post-content .post-title {
    color: #303030; }
    .single-recent-blog.style-2 .post-content .post-title:hover {
      color: #77b122; }
  .single-recent-blog.style-2 .post-content .post-date {
    color: #707070; }

.featured-post-area {
  position: relative;
  z-index: 1; }
  .featured-post-area::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 5;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%); }
  .featured-post-area img {
    width: 100%; }
  .featured-post-area .post-content {
    position: absolute;
    width: 100%;
    padding: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99; }
    @media only screen and (max-width: 767px) {
      .featured-post-area .post-content {
        padding: 30px; } }
    .featured-post-area .post-content h6 {
      color: #b7b7b7;
      font-weight: 400; }
      .featured-post-area .post-content h6 a {
        color: #b7b7b7;
        font-weight: 400; }
        .featured-post-area .post-content h6 a:focus, .featured-post-area .post-content h6 a:hover {
          color: #ffffff; }
    .featured-post-area .post-content .post-title {
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (max-width: 767px) {
        .featured-post-area .post-content .post-title {
          font-size: 20px; } }
      .featured-post-area .post-content .post-title:focus, .featured-post-area .post-content .post-title:hover {
        color: #77b122; }

.single-blog-area {
  position: relative;
  z-index: 1; }
  .single-blog-area.style-2 {
    background-color: #ffffff;
    padding: 21px 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 30px; }
    .single-blog-area.style-2:last-child {
      margin-bottom: 0; }
    .single-blog-area.style-2 .post-content h6 {
      font-size: 12px;
      font-weight: 400;
      color: #b7b7b7;
      margin-bottom: 5px; }
      .single-blog-area.style-2 .post-content h6 a {
        font-size: 12px;
        font-weight: 400;
        color: #b7b7b7;
        margin-bottom: 0; }
    .single-blog-area.style-2 .post-content .post-title {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      color: #303030; }
      .single-blog-area.style-2 .post-content .post-title:focus, .single-blog-area.style-2 .post-content .post-title:hover {
        color: #77b122; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-blog-area.style-2 .post-content .post-title {
          font-size: 18px; } }
    .single-blog-area.style-2 .post-content p {
      margin-bottom: 0; }

.single-blog-post-area {
  position: relative;
  z-index: 1; }
  .single-blog-post-area h6 {
    font-size: 16px;
    font-weight: 400;
    color: #b7b7b7;
    margin-bottom: 5px; }
    .single-blog-post-area h6 a {
      font-size: 16px;
      font-weight: 400;
      color: #b7b7b7;
      margin-bottom: 0; }
  .single-blog-post-area .post-title {
    font-size: 30px;
    color: #303030;
    display: block;
    margin-bottom: 25px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-blog-post-area .post-title {
        font-size: 24px; } }
    @media only screen and (max-width: 767px) {
      .single-blog-post-area .post-title {
        font-size: 20px; } }
    .single-blog-post-area .post-title:focus, .single-blog-post-area .post-title:hover {
      color: #77b122; }
  .single-blog-post-area img {
    margin-bottom: 30px; }
  .single-blog-post-area p {
    font-size: 16px;
    margin-bottom: 0; }

.pagination {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pagination .page-item .page-link {
    background-color: #ffffff;
    min-width: 46px;
    height: 46px;
    line-height: 44px;
    font-size: 16px;
    color: #707070;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 0 15px;
    margin: 0 10px;
    border: 1px solid #e1e1e1; }
    .pagination .page-item .page-link:focus, .pagination .page-item .page-link:hover {
      border-color: #77b122;
      background-color: #77b122;
      color: #ffffff; }
  .pagination .page-item.active .page-link {
    border-color: #77b122;
    background-color: #77b122;
    color: #ffffff; }

.comment_area {
  position: relative;
  z-index: 1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 50px;
  padding-top: 50px; }
  .comment_area .comment-content .comment-author {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    min-width: 70px;
    margin-right: 20px;
    height: 70px;
    border-radius: 50%; }
    .comment_area .comment-content .comment-author img {
      border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .comment_area .comment-content .comment-author {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        min-width: 40px;
        margin-right: 10px;
        height: 40px; } }
  .comment_area .comment-content .comment-meta {
    margin-bottom: 30px; }
    .comment_area .comment-content .comment-meta .comment-date {
      font-size: 12px;
      color: #b7b7b7;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: block; }
    .comment_area .comment-content .comment-meta h6 {
      margin-bottom: 10px;
      font-size: 18px; }
    .comment_area .comment-content .comment-meta p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 2; }
    .comment_area .comment-content .comment-meta .reply {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: #303030; }
      .comment_area .comment-content .comment-meta .reply:hover {
        color: #77b122; }
  .comment_area .single_comment_area {
    margin-bottom: 30px; }
    .comment_area .single_comment_area:last-of-type {
      margin-bottom: 0; }
  .comment_area .children .single_comment_area {
    margin-left: 50px;
    margin-top: 30px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children .single_comment_area {
        margin-left: 15px; } }

.news-details-content {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  border-bottom: 1px solid #e1e1e1; }
  .news-details-content h6 {
    color: #b7b7b7;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    font-weight: 400; }
    .news-details-content h6 a {
      color: #b7b7b7;
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: 400; }
      .news-details-content h6 a:hover {
        color: #77b122; }
  .news-details-content h2 {
    font-size: 36px;
    display: block;
    margin-bottom: 30px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .news-details-content h2 {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .news-details-content h2 {
        font-size: 24px; } }
  .news-details-content p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px; }

.single-widget-area {
  position: relative;
  z-index: 1;
  margin-bottom: 80px; }
  .single-widget-area .widget-title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize; }

.search-widget-form {
  position: relative;
  z-index: 1; }
  .search-widget-form .form-control {
    padding: 0 15px;
    margin-bottom: 0; }
  .search-widget-form button {
    position: absolute;
    width: auto;
    height: 48px;
    line-height: 50px;
    top: 0;
    right: 15px;
    border: none;
    font-size: 18px;
    color: #707070;
    z-index: 99;
    background-color: transparent;
    cursor: pointer; }

.cata-list {
  position: relative;
  z-index: 1; }
  .cata-list li a {
    display: block;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
    color: #707070;
    font-weight: 400; }
    .cata-list li a:hover, .cata-list li a:focus {
      color: #77b122; }
  .cata-list li:first-child a {
    padding-top: 0; }
  .cata-list li:last-child a {
    border-bottom: none;
    padding-bottom: 0; }
  .cata-list.shop-page li a {
    font-size: 14px;
    padding: 5px 0;
    border-bottom: none; }

.famie-tags {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px; }
  .famie-tags li a {
    display: inline-block;
    padding: 5px 15px;
    background-color: #f2f4f5;
    margin: 5px;
    color: #707070;
    font-weight: 400; }
    .famie-tags li a:focus, .famie-tags li a:hover {
      background-color: #77b122;
      color: #ffffff; }

.single-best-product {
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  .single-best-product:last-child {
    margin-bottom: 0; }
  .single-best-product .product-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    max-width: 90px;
    width: 90px; }
  .single-best-product .product-info {
    padding-left: 20px; }
    .single-best-product .product-info .pro-name {
      font-weight: 400;
      color: #707070;
      display: block;
      margin-bottom: 5px;
      font-size: 16px; }
      .single-best-product .product-info .pro-name:focus, .single-best-product .product-info .pro-name:hover {
        color: #77b122; }
    .single-best-product .product-info h6 {
      margin-bottom: 0;
      font-size: 18px; }
    .single-best-product .product-info .product-rating i {
      font-size: 10px;
      color: #ff9800; }

.famie-blockquote {
  position: relative;
  z-index: 1;
  margin: 50px 0; }
  .famie-blockquote .quote-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px; }
    @media only screen and (max-width: 767px) {
      .famie-blockquote .quote-icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
        flex: 0 0 50px;
        max-width: 50px;
        width: 50px; } }
  .famie-blockquote .quote-text h5 {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px; }
    @media only screen and (max-width: 767px) {
      .famie-blockquote .quote-text h5 {
        font-size: 16px; } }
  .famie-blockquote .quote-text span {
    font-weight: 700;
    color: #77b122;
    text-transform: uppercase; }

.share-post {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .share-post {
      margin-bottom: 30px; } }
  .share-post span {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 400;
    margin-right: 15px;
    text-transform: capitalize; }
  .share-post .share-icons {
    position: relative;
    z-index: 1; }
    .share-post .share-icons a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #e1e1e1;
      margin-right: 10px;
      text-align: center;
      line-height: 38px;
      color: #707070; }
      .share-post .share-icons a:focus, .share-post .share-icons a:hover {
        background-color: #77b122;
        color: #ffffff;
        border-color: #77b122; }

.post-author-area {
  position: relative;
  z-index: 1;
  padding: 50px 0; }
  .post-author-area .post-author-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
    margin-right: 30px;
    border-radius: 50%; }
    .post-author-area .post-author-img img {
      border-radius: 50%; }
  .post-author-area .post-author-description h6 {
    font-size: 18px; }
  .post-author-area .post-author-description p {
    margin-bottom: 0; }

.shop-filters {
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1; }
  .shop-filters h6 {
    color: #b7b7b7;
    margin-bottom: 0; }
  .shop-filters .produtc-view-mode a {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px; }
    .shop-filters .produtc-view-mode a:hover, .shop-filters .produtc-view-mode a:focus {
      color: #77b122; }

.cart-table {
  position: relative;
  z-index: 1; }
  .cart-table tbody {
    display: block;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px; }
    .cart-table tbody tr td {
      vertical-align: middle;
      border-top: none; }
      .cart-table tbody tr td.cart_product_img a img {
        max-width: 60px; }
      .cart-table tbody tr td.cart_product_desc p {
        margin-bottom: 2px; }
      .cart-table tbody tr td.cart_product_desc h6 {
        margin-bottom: 0; }
      .cart-table tbody tr td.pro-close a {
        display: inline-block;
        width: 26px;
        height: 26px;
        font-size: 16px;
        text-align: center;
        line-height: 29px;
        background-color: transparent;
        border-radius: 50%;
        color: red; }
        .cart-table tbody tr td.pro-close a:hover {
          background-color: #f2f4f5; }

.cart-summary {
  position: relative;
  z-index: 1; }
  .cart-summary .sub-total h6 {
    color: #b7b7b7;
    margin-bottom: 0;
    font-size: 14px; }
  .cart-summary .total-price h6 {
    margin-bottom: 0; }

.shop-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .shop-area {
      padding-bottom: 0 !important; } }
  @media only screen and (max-width: 767px) {
    .shop-area .col-12.col-md-4 {
      -webkit-box-ordinal-group: 31;
      -ms-flex-order: 30;
      order: 30;
      margin-top: 100px; } }

.footer-area {
  position: relative;
  z-index: 1;
  background-color: #ffffff; }
  .footer-area .footer-widget {
    position: relative;
    z-index: 1; }
    .footer-area .footer-widget .widget-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #ffffff; 
      text-decoration: underline;}
    .footer-area .footer-widget p {
      color: #ffffff;
      margin-bottom: 15px; }

.contact-info {
  position: relative;
  z-index: 1; }
  .contact-info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    line-height: 1.3; }
    .contact-info p i {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
      flex: 0 0 30px;
      max-width: 30px;
      width: 30px;
      color: #77b122; }
    .contact-info p:last-child {
      margin-bottom: 0; }

.footer-widget-nav {
  position: relative;
  z-index: 1; }
  .footer-widget-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-widget-nav ul li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
      margin-left: 0.1px; }
      .footer-widget-nav ul li a {
        color: white;
        display: block;
        margin-bottom: 15px;
        font-weight: 400; }
        .footer-widget-nav ul li a:focus, .footer-widget-nav ul li a:hover {
          color: #ffffff; }

.copywrite-area {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  background-color: #0a0a0a; }
  .copywrite-area .copywrite-text p {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
    color: white; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .copywrite-area .copywrite-text p {
        font-size: 12px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .copywrite-area .copywrite-text p {
        font-size: 12px; } }
    @media only screen and (max-width: 767px) {
      .copywrite-area .copywrite-text p {
        font-size: 12px; } }
  .copywrite-area .copywrite-text a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .copywrite-area .copywrite-text a {
        font-size: 12px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .copywrite-area .copywrite-text a {
        font-size: 12px; } }
    @media only screen and (max-width: 767px) {
      .copywrite-area .copywrite-text a {
        font-size: 12px; } }
    .copywrite-area .copywrite-text a:focus, .copywrite-area .copywrite-text a:hover {
      color: #77b122; }
  .copywrite-area .footer-nav {
    position: relative;
    z-index: 1; }
    .copywrite-area .footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .copywrite-area .footer-nav ul {
          margin-top: 10px;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; } }
      .copywrite-area .footer-nav ul li a {
        display: inline-block;
        color: #707070;
        font-size: 14px;
        padding: 0 12px;
        font-weight: 400; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .copywrite-area .footer-nav ul li a {
            font-size: 12px;
            padding: 0 5px; } }
        @media only screen and (max-width: 767px) {
          .copywrite-area .footer-nav ul li a {
            padding: 0 5px;
            font-size: 12px; } }
        .copywrite-area .footer-nav ul li a:focus, .copywrite-area .footer-nav ul li a:hover {
          font-weight: 400;
          color: #77b122; }
      .copywrite-area .footer-nav ul li:last-child a {
        padding-right: 0; }
      @media only screen and (max-width: 767px) {
        .copywrite-area .footer-nav ul li:first-child a {
          padding-left: 0; } }

.footer-social-info {
  position: relative;
  z-index: 1; }
  .footer-social-info a {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
    .footer-social-info a:last-child {
      margin-bottom: 0; }
    .footer-social-info a i {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      color: #ffffff;
      border: 1px solid #77b122;
      line-height: 40px; }
    .footer-social-info a span {
      color: #b7b7b7;
      font-size: 14px;
      display: inline-block;
      margin-left: 15px;
      font-weight: 400; }
    .footer-social-info a:focus i, .footer-social-info a:hover i {
      background-color: #77b122; }
    .footer-social-info a:focus span, .footer-social-info a:hover span {
      color: #ffffff; }

.contact-info-area {
  position: relative;
  z-index: 1; }
  .contact-info-area .c-border {
    border-bottom: 1px solid #e1e1e1; }

.single-information-area {
  position: relative;
  z-index: 1; }
  .single-information-area .contact-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #77b122;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    color: #ffffff;
    margin: 0 auto 30px; }
  .single-information-area h6 {
    font-size: 18px;
    color: #707070;
    margin-bottom: 0;
    font-weight: 400; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-information-area h6 {
        font-size: 15px; } }

.form-control {
  position: relative;
  z-index: 2;
  height: 48px;
  width: 100%;
  background-color: #ffffff;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 10px 30px;
  color: #707070;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border: 1px solid #e1e1e1;
  border-radius: 2px; }
  .form-control:focus {
    box-shadow: none;
    background-color: #ffffff;
    border-color: #77b122; }
  @media only screen and (max-width: 767px) {
    .form-control {
      padding: 10px 15px; } }

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea.form-control {
  height: 100px; }

footer{
  margin-top: 20px;
}

.justifo{
  text-align: justify;
   margin-top: 5px;
   line-height: 1.1;
   color: black !important;

}

.justify{
  text-align: justify;

}

.Productors{
    display: block;
    margin: auto;

}

.form-horizontal .control-label {
    text-align: center !important;
}


.romain{
    text-decoration: underline;
    color: #77b122;
}

.romain:hover {
   color: green;
}

.Valou{
  color:#3a87ad;
}

.Valou:hover{
  color:green;
}
nav a img{
    width: 100px;
    position: fixed;
    left: 0;
    margin-top: -40px;
}


.glyphicon{
  margin-right: 5px;}

    
.form-control{
      border: 1px solid #78b124 !important;
}

textarea {
 resize : none !important;
}


.foot{
    list-style: none;
    color: white;
    line-height: 2;
    font-size: 12px;
}

.foot:hover{
   color: #77b122 !important;
}

.TextCarou{
  font-size: 40px;
    color: #ffffff;
}


.justify-carousel{
  text-align: justify;
  color: white;
  font-size: 14px;
}

.photo-brightness img {
filter: brightness(50%);
-webkit-filter: brightness(50%);
}
.photo-brightness img:hover {
filter: brightness(100%);
-webkit-filter: brightness(100%);
}


  @media only screen and (max-width: 767px) {
    .top-header-content {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-header-content {
      height: auto;
      padding: 15px 0; } }
  @media only screen and (max-width: 767px) {
    .top-header-content {
      height: auto;
      padding: 10px 0; } }
  .top-header-content .top-header-meta {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
   }

.MessageB span{
   color: #77b122;
}

.MessageB{
  font-size: 20px;

}

.Logo {
  position: fixed;
    left: 0;
  
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 0px !important;
}

.btn-success{
  background-color:  #77b122 !important;
}

.btn{
  line-height: 1.99 !important;
}


thead tr th{
  background-color:#77b122 !important;
}


.panier_area .single_panier {
  float: left;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .panier_area .single_panier {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .panier_area .single_panier {
    width: 100%;
  }
}
.panier_area .single_panier img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.panier_area .single_panier .ovrelay {
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  background: rgba(26, 13, 1, 0.3);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  right: 15px;
  border-radius: 50%;
  border: 1px dashed #fff;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.panier_area .single_panier .ovrelay a {
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  font-size: 30px;
}
.panier_area .single_panier:hover .ovrelay {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.panier_area .single_panier:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.carousel-indicators li{
  border: 1px solid #77b122 !important;
}

.btn-success:hover{
background-color: black !important;
}

.btn-danger:hover{
background-color: red !important;
}

