<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>

        <h2>Profil</h2><br>
        Informations personnelles <br>
        Celles-ci ne sont pas partagées et restent uniquement a la connaissance de l'association.<br>
        <br>

        <form action="index.php" method="POST">
            Nom :<br>
            <input type="text" {$typeInformation} name ="nom" value={$nom}><br>
            Prenom :<br> 
            <input type="text" {$typeInformation} name ="prenom" value={$prenom}><br>
            Mail :<br>
            <input type="text" {$typeInformation} name ="mail" value={$mail}><br>
            <br>
            <input type="hidden" name="gestion" value="profil">
            <button type="submit" name="action" value={$action}> {$texteAction} </button><br>
        </form>
        <br>
        {$msgPassword}<br>
        <form action="index.php" method="POST">
            {$formMotDePasse}
            <input type="hidden" name="gestion" value="profil">
            <button type="submit" name="action" value={$action2}> {$texteAction2} </button><br>
        </form>
        <br>
        <form>
            <button type="submit"> Retour a l'accueil </button><br>
        </form>


    </body>
</html>
