
<html>
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
    </head>
    <body>
        <form action="index.php" method="POST">

            Mail<br>
            <input type="text" name ="mail"><br>
            Mot de passe<br>
            <input type="password" name ="password"><br>
            <input type="hidden" name="redirection" value={$redirection}>
            <input type="hidden" name="gestion" value="login">
            <button type="submit" name="action" value="controleConnexion"> Se connecter </button><br>
        </form>
        
        <form>
            <button type="submit"> Retour a l'accueil </button><br>
        </form>
    </body>
</html>