
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inscription</title>
    </head>
    <body>
        <form action="index.php" method="POST">

            Prenom<br>
            <input type="text" name ="prenom" value={$prenom}><br>
            Nom<br>
            <input type="text" name ="nom" value={$nom}><br>
            Adresse mail<br>
            <input type="text" name ="mail" value={$mail}><br>
            Mot de passe<br>
            <input type="password" name ="password"><br>
            Verification mot de passe<br>
            <input type="password" name ="passwordtest"><br>
            <input type="hidden" name="gestion" value="login">
            <button type="submit" name="action" value="controleInscription">S'inscrire</button>
        </form>
        
        <form>
            <button type="submit">Retour a l'accueil</button>
        </form>
    </body>
</html>