
<html>
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
    </head>
    <body>
        {$username}<br> 
        {$lien1} {$lien2}<br>
        <br>
        {$accueil} - {$produits} - {$producteurs} - {$association} - {$contact} - {$distribution} - {$profil} - {$admin}<br>
        
            


    </body>
</html>
